* {
  padding: 0;
  margin: 0;
  flex-shrink: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  opacity: 0;
}

@font-face {
  font-family: 'longzhoufeng';
  src: url('./longzhoufeng.ttf');
}

@font-face {
  font-family: 'YouSheBiaoTiHei';
  src: url('./YouSheBiaoTiHei-2.ttf');
}

.page_root {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(rgba(2, 18, 49, 0) 60%, rgba(2, 18, 49, 1) 80%), url('../image/bj.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .header_img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }

  .header {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 4.84375vw;
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    .name {
      flex: 1 0;
      display: flex;
      justify-content: center;
      font-size: 2.39583vw;
      font-weight: 400;
      font-family: YouSheBiaoTiHei;
      color: #EFF8FC;
      margin-top: 0.41667vw;
    }

    .part {
      position: absolute;
      height: 100%;
      display: flex;
      flex-direction: column;
      z-index: 1;

      .info {
        margin-top: 0.52083vw;
        height: 1.25vw;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

      .header_btns {
        display: flex;
        margin-top: 0.88542vw;

        .header_btns_btn {
          width: 6.61458vw;
          height: 1.875vw;
          display: flex;
          align-items: center;
          justify-content: center;
          background: url('../image/menubj-1.png') no-repeat;
          background-size: 100% 100%;
          font-size: 1.04167vw;
          font-family: YouSheBiaoTiHei;
          font-weight: 400;
          color: #009CFF;
          margin-left: 0.98958vw;
          cursor: pointer;

          &:first-child {
            margin-left: 0;
          }
        }

        .active {
          color: RGBA(202, 202, 105, 1);
          background: url('../image/menubj.png') no-repeat;
          background-size: 100% 100%;
        }
      }
    }

    .part1 {
      left: 0.9375vw;
    }

    .part2 {
      right: 0.9375vw;

      .info {

        .head {
          height: 0.83333vw;
          margin-right: 0.625vw;
        }
        margin-left: 0.625vw;


        span {
          font-size: 0.72917vw;
          font-weight: 400;
          color: #E5F6FF;
        }

        #time {
          margin-top: 0.15625vw;
          margin-left: 0.625vw;
        }

        .out {
          height: 0.88542vw;
          margin-left: 0.625vw;
        }
      }
    }
  }

  .content {
    width: 100%;
    flex: 1 0;
    display: flex;
    padding: 0.20833vw 0.9375vw 0.9375vw;
    overflow: hidden;

    .part {
      flex: 1 0;
      height: 100%;
      background: rgba(13, 36, 75, 0.8);
      box-shadow: 0 0 0.52083vw 0 rgba(0, 1, 4, 0.46);
      border-radius: 0.52083vw;
      display: flex;
      flex-direction: column;

      .box {
        width: 100%;
        flex: 1 0;
        display: flex;
        flex-direction: column;

        .title {
          position: relative;
          width: 100%;
          height: 2.23958vw;
          margin-top: 0.52083vw;

          img {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1.45833vw;
          }

          span {
            position: relative;
            top: 0.26042vw;
            width: 100%;
            padding: 0 1.5625vw;
            font-size: 1.19792vw;
            font-weight: bold;
            color: #FFFFFF;
            text-shadow: 0 0.15625vw 0.10417vw rgba(0, 11, 34, 0.13);
          }
        }

        .box_content {
          flex: 1 0;
          width: 100%;
          display: flex;
          flex-direction: column;

          .item {
            width: 100%;
            flex: 1 0;
            display: flex;
            flex-direction: column;
          }

          .sub_title {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              width: 3.75vw;

              &:last-child {
                transform: rotate(180deg);
              }
            }

            span {
              font-size: 0.78125vw;
              font-weight: 400;
              color: #E5F6FF;
              margin: 0 0.26042vw;
            }
          }

          .population_info {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;

            .population_info_imgs {
              position: relative;
              flex: 1 0;
              height: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;

              .imgs {
                width: 100%;
                height: 9.375vw;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                  position: absolute;

                  &:nth-child(1) {
                    width: 7.8125vw;
                    top: 1vw;
                    animation: animation1 3s linear infinite;
                  }

                  &:nth-child(2) {
                    width: 3vw;
                    top: 2vw;
                    animation: animation2 3s linear infinite;
                  }

                  @keyframes animation1 {
                    0% {
                      opacity: 1;
                    }

                    50% {
                      opacity: 0.3;
                    }

                    100% {
                      opacity: 1;
                    }
                  }

                  @keyframes animation2 {
                    0% {
                      top: 2vw;
                    }

                    50% {
                      top: 1.5vw;
                    }

                    100% {
                      top: 2vw;
                    }
                  }
                }
              }

              .label {
                position: relative;
                display: flex;
                align-items: center;
                font-size: 0.625vw;
                font-weight: 400;
                color: #91CCFF;
                margin: -0.83333vw 0 0 0;

                span {
                  font-size: 1.19792vw;
                  font-weight: 400;
                  color: #0084FF;
                  margin: 0 0.41667vw;
                  font-family: longzhoufeng;
                }
              }
            }

            .population_info_labels {
              flex: 1 0;
              height: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;

              &_item {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 1.25vw;

                &:first-child {
                  margin-top: 0;
                }

                img {
                  height: 0.83333vw;
                  margin-right: 0.3125vw;
                }

                div {
                  display: flex;
                  align-items: center;
                  font-size: 0.625vw;
                  font-weight: 400;
                  color: #91CCFF;

                  span {
                    font-size: 1.19792vw;
                    font-weight: 400;
                    color: #19D6FF;
                    margin: 0 0.41667vw;
                    font-family: longzhoufeng;
                  }
                }

                &:nth-child(2) {
                  div {
                    span {
                      color: rgba(55, 255, 201, 1);
                    }
                  }
                }

                &:nth-child(3) {
                  div {
                    span {
                      color: rgba(255, 231, 119, 1);
                    }
                  }
                }
              }
            }
          }

          .chart {
            width: 100%;
            flex: 1 0;
          }

          .area_info {
            width: 100%;
            height: 6.77083vw;
            display: flex;
            align-items: center;

            .area_info_item {
              flex: 1 0;
              height: 3.125vw;
              display: flex;
              flex-direction: column;
              padding: 0 0.83333vw;
              border-right: 1px solid rgba(0, 168, 255, 0.2);

              &:last-child {
                border-right: none;
              }

              .label {
                font-size: 0.72917vw;
                font-weight: 400;
                color: #91CCFF;
              }

              div {
                margin-top: 0.83333vw;
                font-size: 0.67708vw;
                font-weight: 400;
                color: rgba(0, 168, 255, 1);
                display: flex;
                align-items: center;
                white-space: nowrap;

                span {
                  font-size: 1.19792vw;
                  font-weight: 400;
                  color: #0084FF;
                  margin-right: 0.20833vw;
                  font-family: longzhoufeng;
                }
              }

              &:nth-child(2) {
                div {
                  span {
                    color: rgba(25, 214, 255, 1);
                  }
                }

              }

              &:nth-child(3) {
                div {
                  span {
                    color: rgba(55, 255, 201, 1);
                  }
                }
              }

              &:nth-child(4) {
                div {
                  span {
                    color: rgba(255, 231, 119, 1);
                  }
                }
              }
            }
          }

          .org_info {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            padding: 0 1.77083vw;

            .org_info_item {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;

              .imgs {
                position: relative;
                width: 3.28125vw;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                img {
                  position: absolute;

                  &:nth-child(1) {
                    height: 2.34375vw;
                    animation: animation5 3s linear infinite;
                  }

                  &:nth-child(2) {
                    height: 1.71875vw;
                    top: 1.04167vw;
                    animation: animation4 3s linear infinite;
                  }

                  @keyframes animation4 {
                    0% {
                      top: 1.04167vw;
                    }

                    50% {
                      top: 0.7vw;
                    }

                    100% {
                      top: 1.04167vw;
                    }
                  }

                  @keyframes animation5 {
                    0% {
                      opacity: 1;
                    }

                    50% {
                      opacity: 0.6;
                    }

                    100% {
                      opacity: 1;
                    }
                  }
                }
              }

              .labels {
                display: flex;
                flex-direction: column;
                margin-left: 0.83333vw;

                span {
                  &:nth-child(1) {
                    font-size: 0.72917vw;
                    font-weight: 400;
                    color: #91CCFF;
                  }

                  &:nth-child(2) {
                    font-size: 1.19792vw;
                    font-weight: 400;
                    color: #0084FF;
                    margin-top: 0.3125vw;
                    font-family: longzhoufeng;

                    &::after {
                      content: '个';
                      color: rgba(0, 168, 255, 1);
                      font-size: 0.67708vw;
                      margin-left: 0.20833vw;
                    }
                  }
                }
              }
            }
          }

          .property_info {
            width: 100%;
            height: 7.03125vw;
            display: flex;
            align-items: center;
            padding: 0 2.08333vw;

            &_item {
              flex: 1 0;
              height: max-content;
              display: flex;
              flex-direction: column;
              justify-content: center;
              border-right: 1px solid rgba(0, 168, 255, 0.2);
              margin-left: 1.04167vw;

              &:first-child {
                margin-left: 0;
              }

              &:last-child {
                border-right: none;
              }

              span {
                &:nth-child(1) {
                  font-size: 0.72917vw;
                  font-weight: 400;
                  color: #91CCFF;
                }

                &:nth-child(2) {
                  font-size: 1.19792vw;
                  font-weight: 400;
                  color: #0084FF;
                  margin-top: 1.04167vw;
                  font-family: longzhoufeng;

                  &::after {
                    content: '个';
                    color: rgba(0, 168, 255, 1);
                    font-size: 0.67708vw;
                    margin-left: 0.20833vw;
                  }
                }
              }
            }
          }

          .btns {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1.30208vw;

            span {
              margin-left: 0.26042vw;
              width: 3.59375vw;
              height: 1.19792vw;
              background: rgba(55, 141, 230, 0.2);
              border-radius: 0.26042vw;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 0.52083vw;
              font-weight: 400;
              color: #91CCFF;
              cursor: pointer;

              &:first-child {
                margin-left: 0;
              }
            }

            .active {
              background: rgba(55, 141, 230, 1);
              color: #fff;
            }
          }
        }
      }
    }

    .center {
      width: 52.70833vw;
      height: 100%;
      margin: 0 0.83333vw;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      .center_top {
        position: relative;
        flex: 1 0;
        width: 100%;
        margin-bottom: 0.83333vw;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;

        .switch {
          position: absolute;
          top: 3.85417vw;
          left: 0;
          width: 2.08333vw;
          height: 2.08333vw;
          display: flex;
          align-items: center;
          justify-content: center;
          background: rgba(13, 35, 74, 0.8);
          box-shadow: 0px 0px 10px 0px rgba(0, 1, 4, 0.46);
          border-radius: 5px;
          cursor: pointer;

          &:hover {
            background: #0e3988;
          }

          img {
            height: 1.45833vw;
          }
        }

        .btns {
          position: absolute;
          bottom: 0;
          left: 0;
          display: flex;
          flex-direction: column;

          .btns_item {
            width: 2.08333vw;
            height: 2.08333vw;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(13, 35, 74, 0.8);
            box-shadow: 0px 0px 10px 0px rgba(0, 1, 4, 0.46);
            border-radius: 5px;
            cursor: pointer;
            margin-top: 0.41667vw;

            &:hover {
              background: #0e3988;
            }

            img {
              height: 1.45833vw;
            }
          }
        }

        .tabs {
          width: 100%;
          height: 3.64583vw;
          display: flex;
          align-items: center;
          justify-content: center;
          // padding: 0 20%;

          div {
            width: 8.02083vw;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            z-index: 1;
            margin-left: 0.67708vw;
            background: url('../image/figure.png') no-repeat;
            background-size: 100% 100%;

            &:first-child {
              margin-left: 0;
            }

            span {
              font-size: 1.45833vw;
              font-family: longzhoufeng;
              font-weight: 400;
              color: #0084FF;

              &:last-child {
                font-size: 0.625vw;
                font-weight: 400;
                color: #91CCFF;
                margin-top: 0.3125vw;
              }
            }
          }
        }

        .center_top_content {
          position: relative;
          width: 100%;
          flex: 1 0;
          background: rgba(13, 36, 75, 1);
          box-shadow: 0px 0px 0.52083vw 0px rgba(0, 1, 4, 0.46);
          border-radius: 0.52083vw;
          padding: 1.04167vw;
          flex-direction: column;
          overflow: hidden;
          display: none;
          z-index: 4;

          .close {
            position: absolute;
            top: 0;
            right: 0;
            width: 1.19792vw;
            height: 1.19792vw;
            background-color: rgba(15, 47, 92, 1);
            border-radius: 50%;
            overflow: hidden;
            padding: 0.3125vw;
            cursor: pointer;
          }

          .info {
            width: 100%;
            height: 6.77083vw;
            display: flex;
            align-items: center;

            .info_item {
              flex: 1 0;
              height: 100%;
              display: flex;
              align-items: center;
              margin-left: 0.83333vw;

              img {
                height: 3.64583vw;
              }

              .labels {
                margin-left: 0.78125vw;
                display: flex;
                flex-direction: column;

                span {
                  &:nth-child(1) {
                    font-size: 0.88542vw;
                    font-weight: 400;
                    color: #91CCFF;
                  }

                  &:nth-child(2) {
                    font-size: 1.71875vw;
                    font-weight: 400;
                    color: #0084FF;
                    margin-top: 0.20833vw;
                    font-family: longzhoufeng;
                  }
                }
              }
            }
          }

          .table_content {
            width: 100%;
            flex: 1 0;
            overflow-y: scroll;

            table {
              width: 100%;
              height: 100%;

              th,
              td {
                margin: 0;
                padding: 0;
                border: none;
                height: 1.875vw;
              }

              thead {
                width: 100%;
                background-color: rgba(145, 204, 255, 0.15);
                font-size: 0.72917vw;
                font-weight: 400;
                color: #FFFFFF;
              }

              td {
                font-size: 0.72917vw;
                font-weight: 400;
                color: #91CCFF;
                text-align: center;
              }
            }
          }


        }

        .map {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: hidden;

          .item {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;

            span {
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 0.67708vw;
              font-weight: 500;
              color: #FFFFFF;
              box-shadow: 0px 0px 0.3125vw rgba(82, 208, 255, 1) inset;
              border: 1px solid rgba(82, 208, 255, 1);
              padding: 0.15625vw 0.3125vw;
              background-color: rgba(0, 0, 0, 0.7);
            }

            img {
              width: 2.70833vw;
              animation: animation6 3s linear infinite;
              margin-top: -0.41667vw;
            }

            @keyframes animation6 {
              0% {
                opacity: 1;
              }

              50% {
                opacity: 0.5;
              }

              100% {
                opacity: 1;
              }
            }
          }

          .item_1 {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;

            img {
              &:first-child {
                width: 3.22917vw;
                animation: animation7 3s linear infinite;
                z-index: 2;
              }

              &:last-child {
                width: 3.02083vw;
                margin-top: -1.5625vw;
                animation: animation8 6s linear infinite;
                z-index: 1;
              }
            }

            @keyframes animation7 {
              0% {
                transform: translateY(0);
              }

              50% {
                transform: translateY(-0.26042vw);
              }

              100% {
                transform: translateY(0);
              }
            }

            @keyframes animation8 {
              0% {
                transform: rotateX(60deg) rotate(0deg);
              }

              100% {
                transform: rotateX(60deg) rotate(360deg);
              }
            }
          }

          .item_2 {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;

            img {
              width: 3.75vw;
              animation: animation9 3s linear infinite;
            }

            @keyframes animation9 {
              0% {
                transform: translateY(0);
              }

              50% {
                transform: translateY(-0.26042vw);
              }

              100% {
                transform: translateY(0);
              }
            }
          }

          .item_3 {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;

            img {
              width: 2.34375vw;
              animation: animation10 3s linear infinite;
            }

            @keyframes animation10 {
              0% {
                transform: translateY(0);
              }

              50% {
                transform: translateY(-0.26042vw);
              }

              100% {
                transform: translateY(0);
              }
            }
          }

          .map_box {
            position: absolute;
            width: 16.77083vw;
            padding: 0.36458vw 0.9375vw;
            display: none;
            flex-direction: column;
            z-index: 3;

            .map_box_bac {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
            }

            .title {
              position: relative;
              font-size: 0.9375vw;
              font-family: Alibaba PuHuiTi;
              font-weight: 600;
              font-style: italic;
              color: rgba(158, 255, 247, 1);

              background: linear-gradient(rgba(158, 255, 247, 0.7) 60%, rgba(255, 255, 255, 0.7) 100%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }

            .info {
              position: relative;
              width: 100%;
              height: 5.625vw;
              display: flex;
              margin-top: 1.45833vw;

              img {
                height: 100%;
              }

              .info_content {
                flex: 1 0;
                height: 100%;
                display: flex;
                flex-direction: column;
                margin-left: 0.83333vw;

                span {
                  flex: 1 0;
                  width: 100%;
                  display: flex;
                  align-items: center;
                  padding: 0.52083vw 0;
                  font-size: 0.625vw;
                  font-family: Alibaba PuHuiTi;
                  font-weight: 400;
                  color: #E7F3F9;
                  border-bottom: 1px solid rgba(144, 232, 237, 0.54);
                }
              }
            }

            .map_box_btns {
              position: relative;
              width: 100%;
              height: 1.14583vw;
              display: flex;
              align-items: center;
              margin-top: 0.83333vw;

              .status {
                display: flex;
                font-size: 0.67708vw;
                font-family: Adobe Heiti Std;
                font-weight: normal;
                color: #FFFFFF;
                margin-left: 0.83333vw;

                span {
                  color: rgba(17, 255, 207, 1);
                }
              }

              .btns_box {
                display: flex;
                align-items: center;
                height: 100%;
                margin-left: 1.66667vw;

                span {
                  width: 2.60417vw;
                  height: 1.14583vw;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-size: 0.625vw;
                  font-family: Alibaba PuHuiTi;
                  font-weight: 500;
                  color: #FFFFFF;
                  border-radius: 0.10417vw;

                  &:nth-child(1) {
                    background: rgba(56, 123, 215, 1);
                  }

                  &:nth-child(2) {
                    background: rgba(84, 164, 52, 1);
                    margin-left: 0.83333vw;
                  }
                }
              }
            }
          }
        }
      }

      .center_bottom {
        width: 100%;
        height: 15.57292vw;
        background: rgba(13, 36, 75, 0.8);
        box-shadow: 0 0 0.52083vw 0 rgba(0, 1, 4, 0.46);
        border-radius: 0.52083vw;
        overflow: hidden;

        .box {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;

          .title {
            position: relative;
            width: 100%;
            height: 2.23958vw;
            margin-top: 0.52083vw;

            img {
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              height: 1.45833vw;
            }

            span {
              position: relative;
              top: 0.26042vw;
              width: 100%;
              padding: 0 1.5625vw;
              font-size: 1.19792vw;
              font-weight: bold;
              color: #FFFFFF;
              text-shadow: 0 0.15625vw 0.10417vw rgba(0, 11, 34, 0.13);
            }
          }

          .box_content {
            flex: 1 0;
            width: 100%;
            display: flex;
            align-items: center;

            .event_info {
              height: 100%;
              display: flex;
              flex-direction: column;
              margin-left: 2.23958vw;
              padding: 0.83333vw 0;

              .event_info_item {
                flex: 1 0;
                width: 100%;
                display: flex;
                align-items: center;

                .imgs {
                  position: relative;
                  width: 2.60417vw;
                  height: 2.60417vw;
                  display: flex;
                  align-items: center;
                  justify-content: center;

                  img {
                    position: absolute;

                    &:nth-child(1) {
                      width: 100%;
                      height: 100%;
                      animation: animation3 6s linear infinite;
                    }

                    &:nth-child(2) {
                      height: 1.09375vw;
                    }

                    @keyframes animation3 {
                      0% {
                        transform: rotate(0deg);
                      }

                      100% {
                        transform: rotate(360deg);
                      }
                    }
                  }
                }

                .labels {
                  display: flex;
                  flex-direction: column;
                  margin-left: 0.9375vw;

                  span {
                    &:nth-child(1) {
                      font-size: 0.72917vw;
                      font-weight: 400;
                      color: #91CCFF;
                    }

                    &:nth-child(2) {
                      font-size: 1.09375vw;
                      font-weight: 400;
                      color: #0084FF;
                      margin-top: 0.3125vw;
                      font-family: longzhoufeng;

                      &::after {
                        content: '件';
                        margin-left: 0.20833vw;
                        font-size: 0.67708vw;
                        font-weight: 400;
                        color: rgba(0, 168, 255, 1);
                      }
                    }
                  }
                }
              }
            }

            .item {
              flex: 1 0;
              height: 100%;
              display: flex;
              flex-direction: column;

              .sub_title {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 0.83333vw;

                img {
                  width: 3.75vw;

                  &:last-child {
                    transform: rotate(180deg);
                  }
                }

                span {
                  font-size: 0.78125vw;
                  font-weight: 400;
                  color: #E5F6FF;
                  margin: 0 0.26042vw;
                }
              }

              .chart {
                flex: 1 0;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}